
<div class="pagetitle">
    <h1>Ordenes de Trabajo</h1>
</div><!-- End Page Title -->
  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" routerLink="/full/work-order/create">
    Crear Orden de Trabajo
</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Marca Motocicleta</th>
            <th scope="col">Ref. Motocicleta</th>
            <th scope="col">Placa</th>
            <th scope="col">Color</th>
            <th scope="col">Técnico Asignado</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of order">
            <td>{{order.vehicle.brand | uppercase}}</td>
            <td>{{order.vehicle.reference | uppercase}}</td>
            <td>{{order.vehicle.placa | uppercase}}</td>
            <td>{{order.vehicle.color | uppercase}}</td>
            <td>{{order.technical.name | titlecase }}</td>
            <td>{{order.createdat | date: 'short'}}</td>
            <td>
                <p appStatusOrder  [status]="order.status_order.value" class="badge text-wrap">
                    {{order.status_order.value | uppercase}}
                </p>
            </td>
            <td>
                <button type="button" title="Eliminar registro" class="btn btn-light" (click)="deleteOrder(order.id)">
                    <i class="fa-light fa-trash"></i>
                    <i class="bi bi-trash"></i></button>            
                <button type="button" title="Ver detalles" class="btn btn-light " routerLink="/full/work-order/detail/{{order.id}}"><i class="bi bi-eye-fill"></i></button>
            </td>
        </tr>
    </tbody>
</table>