<div class="pagetitle">
  <h1>Listado Clientes</h1>
</div>

<app-clients-create [clients]="clients" (newItemEvent)="onPush($event)"></app-clients-create>

<div class="row p-3">
  <div class="input-group col-2 w-50 border-radius">
    <input class="form-control border border-radius" type="search" value="" id="example-search-input" [formControl]="searchForm">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary border-left-0 border" type="button">
        <i class="bi bi-search"></i>
      </button>
    </span>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">No. de ID</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients | search: searchForm.value">
      <td>{{client.pname}}</td>
      <td>{{client.plastname}}</td>
      <td>{{client.cedula}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.email}}</td>
      <td>
        <button type="button" title="Eliminar registro" class="btn btn-danger" (click)="deleteClient(client.id)"><i
            class="bi bi-trash"></i></button>
        <button type="button" title="Ver detalles" class="btn btn-info" (click)="onUpdateOrSave(content,client)"><i
            class="bi bi-pencil"></i></button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #content let-modal>
  <div class="modal-header">

    <div *ngIf="updateState; then thenForm else elseForm"></div>
    <ng-template #thenForm>
      <h4 class="modal-title">Actualizar Cliente</h4>
    </ng-template>
    <ng-template #elseForm>
      <h4 class="modal-title">Crear Cliente</h4>
    </ng-template>

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

  </div>
  <div class="modal-body">

    <form class="row g-3" [formGroup]="clientForm">
      <div class="col-md-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="pname">
          <label for="floatingText">Primer Nombre</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="sname">
          <label for="floatingText">Segundo Nombre</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="plastname">
          <label for="floatingText">Primer Apellido</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="slastname">
          <label for="floatingText">Segundo Apellido</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="cedula">
          <label for="floatingText">Número de Identificación</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="firstName" placeholder="code" formControlName="phone">
          <label for="floatingText">Número de Teléfono</label>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="code" formControlName="email">
          <label for="floatingText">Correo Electrónico</label>
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          <input type="text" class="form-control" id="password" placeholder="code" formControlName="address">
          <label for="floatingPass">Dirección de Residencia</label>
        </div>
      </div>

      <div class="text-center">

        <div *ngIf="updateState; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button type="submit" class="btn btn-primary" (click)="updateClient()">Actualizar</button>
        </ng-template>
        <ng-template #elseBlock>
          <button type="submit" class="btn btn-primary" (click)="saveClient()">Crear</button>
        </ng-template>

        <button type="reset" class="btn btn-secondary">Limpiar Campos</button>
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Salir</button>
  </div>
</ng-template>