<!--<div class="pagetitle">
  <h1>Dashboard</h1>
</div>

<section class="section dashboard">
  <div class="row">

    
    <div class="col-lg-8">
      <div class="row">

        <app-counts-report></app-counts-report>

        <app-today-report></app-today-report>

        <app-services-report></app-services-report>

        <app-product-report></app-product-report>

      </div>
    </div>

    
    <div class="col-lg-4">

      <app-order-report></app-order-report>

      <app-month-report></app-month-report>

    </div>

  </div>
</section>-->


